<!DOCTYPE html>
<html lang="en">
    <head>
        <meta
        charset="UTF-8"/>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css"/> {% block styles %}{% endblock %}
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <div class="container p-4">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end align-middle"> {% block header %}{% endblock %}
            </div>
            <hr>
            <div class="container">
                {% if data.successMessage %}
                    <div class="alert alert-success">
                        <strong>Success!</strong>
                        {{ data.successMessage }}
                    </div>
                {% endif %}
                {% if data.errorMessage %}
                    <div class="alert alert-danger">
                        <strong>Error!</strong>
                        {{ data.errorMessage }}
                    </div>
                {% endif %}
            </div>
            <div class="main mb-3 me-2 ms-2"> {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
