body {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    min-width: 360px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-lg {
    min-width: 175px;
}

h1 {
    margin: 0;
}
