{% extends "base.html.twig" %}

{% block title %}Product - Add
{% endblock %}

{% block header %}
    <h1 class="me-auto">Product - Add</h1>
    <a href="/product/list" class="btn btn-secondary btn-lg">List</a>
    <button type="submit" class="btn btn-primary btn-lg" onclick="submitForm('productAddForm')">Save</button>
{% endblock %}

{% block body %}
    <form class="row needs-validation" id="productAddForm" action="/product/addPost" method="post" novalidate>
        <div class="col-12 mb-3">
            <label for="sku" class="form-label">SKU</label>
            <input type="text" class="form-control" id="sku" name="sku" placeholder="SKU" value="{{ data.sku }}" required>
            <div class="invalid-feedback">
                Please provide a SKU.
            </div>
        </div>
        <div class="col-12 mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ data.name }}" placeholder="Name" required>
            <div class="invalid-feedback">
                Please provide a name.
            </div>
        </div>
        <div class="col-12 mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" step="0.01" min="0" class="form-control" id="price" name="price" value="{{ data.price }}" placeholder="{{ 99.99|format_currency('USD', {'fraction_digit': 2}) }}" required>
            <div class="invalid-feedback">
                Please provide a price.
            </div>
        </div>
        <div class="col-12 mb-3">
            <label for="type" class="form-label">Type</label>
            <select class="form-select" id="type" name="type" value="{{ data.type }}" required>
                <option selected disabled value="">Choose...</option>
                {% for typeCode, typeName in app_product_typeList() %}
                    <option value="{{ typeCode }}" {% if data.type == typeCode %} selected {% endif %}>{{ typeName }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Please select a type.
            </div>
        </div>
        {% for attribute in app_attribute_list() %}
            {% set code = attribute.attributeCode %}
            {% set name = attribute.attributeName %}
            {% include app_attribute_template(code) %}
        {% endfor %}
    </form>
    <script type="application/javascript" src="/js/form/validation.js"></script>
    <script type="application/javascript" src="/js/product/add.js"></script>
{% endblock %}
