{% extends "base.html.twig" %}
{% block styles %}
    <link rel="stylesheet" href="/css/product/list.css"/>
{% endblock %}
{% block title %}Product - List
{% endblock %}

{% block header %}
    <h1 class="me-auto">Product - List</h1>
    <button type="button" class="btn btn-secondary btn-lg" id="btnMassActionDelete" disabled="true">Mass delete</button>
    <a href="/product/add" class="btn btn-primary btn-lg">Add</a>
{% endblock %}

{% block body %}
    {% set i = 1 %}
    {% set rowClasses = 'row gx-0 gap-3 gap-md-5' %}
    <div class="{{ rowClasses }}">
    {% for product in app_product_list() %}
        <div class="product-item mb-md-0 mb-2 p-3 border bg-light">
            <input type="checkbox" class="checkbox product-item__checkbox mb-4" data-id="{{ product.id }}" />
            <div class="product-item__attributes ps-3">
                <p>{{product.sku}}</p>
                <p>{{product.name}}</p>
                <p>{{product.price|format_currency('USD', {'fraction_digit': 2})}}</p>
                {% for specialAttribute in product.specialAttributes %}
                    <p>{{ specialAttribute.attribute.attributeName}}:
                        {{ specialAttribute.value }}</p>
                {% endfor %}
            </div>
        </div>
        {# close row #}
        {% if loop.last or i % 4 == 0 %}
            </div>
        {% endif %}
        {# start new row #}
        {% if not loop.last and i % 4 == 0 %}
            <div class="{{ rowClasses }}">
        {% endif %}
        {% set i = i + 1 %}
    {% endfor %}
    <script type="application/javascript" src="/js/product/list.js"></script>
{% endblock %}
