<div class="form-group special-attribute d-none" data-product-types="{{ attribute.allowedTypes|join(',') }}">
    <label for="{{ code }}">{{ name }}</label>
    <input type="text" class="form-control" id="{{ code }}" name="{{ code }}" placeholder="{{ name }}" value="{{ value|default(data[code]) }}" required>
    <div class="invalid-feedback">
        Please provide a
        {{ name }}.
    </div>
    <div class="text-info text-muted ms-2 mb-2">
        {{ attribute.note }}
    </div>
</div>
