{% set subAttributes = ['height', 'width', 'length'] %}
{% for subAttribute in subAttributes %}
    {% set subAttributeName = subAttribute|capitalize %}
    {% include "Product/attribute/default.html.twig" with {'code': code ~ '[' ~ subAttribute ~ ']', 'name': subAttribute|capitalize, 'value': data[code][subAttribute]} %}
{% endfor %}
