.product-item {
    height: 275px;
    width: calc(25% - 2.25rem);
    word-break: break-all;
}

.product-item__attributes p:first-child {
    font-weight: bold;
}

.row ~ .row {
    margin-top: 3rem;
}

.checkbox {
    transform: scale(1.5);
}

@media only screen and (max-width: 1024px) {
    .product-item {
        width: calc(50% - 1.5rem);
    }
}

@media only screen and (max-width: 768px) {
    .product-item {
        width: 100%;
    }

    .row ~ .row {
        margin-top: 1rem;
    }
}
